<h1>Admin Dashboard</h1>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<a asp-controller="Teacher" asp-action="Create" class="btn btn-primary">Register Teacher</a>
<a href="/Teacher/List" class="btn btn-primary">Teacher List</a>
<a href="/Student/Create" class="btn btn-primary">Register Students</a>
<a href="/Student/List" class="btn btn-primary">Student List</a>

