<h1>Database Connection Test</h1>
<p>@ViewBag.Message</p>

<h1>Welcome to AMS</h1>

<a asp-controller="Teacher" asp-action="Login" class="btn btn-primary">Teacher Login</a>
<a asp-controller="Admin" asp-action="Login" class="btn btn-secondary">Admin Login</a>